<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolZapp - Versione WhatsApp di Bolzano</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/30410f2966.js" crossorigin="anonymous"></script>

</head>
<body>
    <div id="root" class="container">

        <div id="background_app">
            <div id="window_app">

                <div id="info_float" class="float">
    
                    <div id="info_user" class="flex between">
    
                        <div id="user_avatar" class="flex middle">
                            <img :src="'img/avatar' + user.userAvatar + '.jpg'" alt="avatar User">
                            <div>{{user.name}} {{user.surname}}</div>
                        </div>
    
                        <form id="option_user" class="flex middle around">
                            <button><i class="fas fa-circle-notch"></i></button>
                            <button><i class="fas fa-comment-alt"></i></button>
                            <button><i class="fas fa-ellipsis-v"></i></button>
                        </form>
    
                    </div>
        
                    <div id="notifications" class="flex middle">
    
                        <div id="circle_notification" class="flex middle center">
                            <i class="fas fa-bell-slash"></i>
                        </div>
    
                        <div id="notification_text">
    
                            <div>
                                Ricevi notifiche di nuovi messaggi
                            </div>
    
                            <a href="https://faq.whatsapp.com/android/chats/how-to-manage-your-notifications/?lang=it">Attiva notifiche desktop</a>
                        
                        </div>
                        
                    </div>
    
                    <form id="search_input" class="flex center middle">
                        <button><i class="fas fa-search"></i></button>
                        <input type="search" v-model="searchContact" placeholder="Cerca o inizia una nuova chat" >
                    </form>  
                    
                    <div id="info_contacts">
                        <ul class="none"> 
                            <li class="contact flex middle" :class="(i == currentContact) ? 'active' : null " v-for= '(contact, i) in filterSearch()' @click='selected(i)'>
                                <div class="avatar_image">
                                    <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="avatar contact">
                                </div>
                                <div>
                                    {{contact.name}}
                                </div>
                            </li>
                        </ul>
                    </div>
    
                </div>
    
                <div id="chat_float" class="float">
    
                    <div id="info_chat" class="flex between middle">
    
                        <div id="contact_avatar_current" class="flex middle">
                            <div class="avatar_image">
                                <img :src="'img/avatar' + contacts[currentContact].avatar + '.jpg'" alt="avatar contact current">
                            </div>
                            <div class="user-name flex-col">
                                {{ contacts[currentContact].name }}
                                <div class="last_date">
                                    Ultimo accesso: {{lastDateContactCurrent()}}
                                </div>
                            </div>
                            
                        </div>
                        
                        <form id="option_chat" class="flex middle around">
                            <button><i class="fas fa-search"></i></button>
                            <button><i class="fas fa-paperclip"></i></button>
                            <button><i class="fas fa-ellipsis-v"></i></button>
                        </form>
    
                    </div>
    
                    <div id="chat_window">
                        <ul class="flex-col none">
                            <li id="boxMessage" class="flex-col between" :class="(message.status == 'sent') ? 'messageSent' : 'messageReceived'" v-for='message in contacts[currentContact].messages'>
                                <div id="contentMessage" class= "flex between">
                                    <div>
                                        {{message.message}}
                                        <div id="dateMessage">
                                            {{message.date}}
                                        </div>
                                    </div>
                                    <i class="fas fa-chevron-down" @click=></i>
                                </div>
                                
                                <div id="options-message">
                                    <ul class="none">
                                        <li>Inoltra</li>
                                        <li @click="deleteMessage(messaggio, index)" >Elimina</li>
                                        <li>Informazioni</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
    
                    <div id="input_user_chat" class="flex around middle">
    
                        <form id="emojy" class="flex center">
                            <button><i class="far fa-smile"></i></button>
                        </form>
    
                        <input type="text" v-model="newMessage" placeholder="Scrivi un messaggio" @keyup.enter="UserNewMessage">
    
                        <form id="vocal_chat" class="flex center">
                            <button><i class="fas fa-microphone"></i></i></button>
                        </form>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    </div>

</body>
</html>